
# Byte-compiled / optimized / DLL files
**/__pycache__
*.py[cod]
*$py.class
.ipynb_checkpoints

# General untracked file formats
*.log
**/pbf
*.pbf
*.zip

# Untracked files
config.yaml
dag.svg

# Untracked folders (and files within)
img/
.snakemake/
benchmarks/
cutouts/
data/
results/
networks/
resources/
test/tmp/

# track resources/powerplants.csv
!resources/powerplants.csv

# track resources/buildings/microgrid_building.geojson
!resources/buildings/
!resources/buildings/microgrid_building.geojson
# Re-ignore everything else in resources/buildings/
resources/buildings/*
!resources/buildings/microgrid_building.geojson

# track data/ramp/
!data/ramp/
!data/ramp/**
!data/ramp/*.xlsx

# Untrack test doc builds
doc/_build

# VS code related
*.vscode
doc/*.vscode/settings.json
*.vscode/settings.json
*.code-workspace

# Additional debugging folders
backup*
screenlog*
