# SPDX-FileCopyrightText: : 2021 The PyPSA-Earth Authors
#
# SPDX-License-Identifier: CC0-1.0

version: 0.0.1
tutorial: true
mode: brown_field  # brown_field or green_field

logging:
  level: INFO
  format: "%(levelname)s:%(name)s:%(message)s"

# option to disable the subworkflow to ease the analyses
disable_subworkflow: false

enable:
  # prepare_links_p_nom: false
  retrieve_databundle: true
  retrieve_cost_data: true
  download_osm_data: true
  download_osm_buildings: true
  download_osm_method: overpass # or earth_osm
  download_and_merge_microsoft_ML_building: true # Select true only if download osm_method is overpass, if True, then retrieve_and_merge_microsoft_ML_building can be run
  # If "build_cutout" : true # requires cds API key
  # https://cds.climate.copernicus.eu/api-how-to
  # More information
  # https://atlite.readthedocs.io/en/latest/introduction.html#datasets
  build_cutout: false
  build_natura_raster: false  # If True, then build_natura_raster can be run
  interconnect_microgrids: false

scenario:
  simpl: ['']
  ll: ['copt']
  clusters: [55]
  opts: [Co2L-3H]  # Co2L adds an overall absolute carbon-dioxide emissions limit
                   # 3H resamples the time-resolution by averaging over every 3 snapshots

countries: ["NG"]
# Can be replaced by country ["NG", "BJ"] or user specific region, more at
# https://pypsa-earth.readthedocs.io/en/latest/configuration.html#top-level-configuration

year: "2019"  # Year setting allows the choice of which data to download (es. Worldpop_data)
grid_import_marginal_cost: 50.0  # [EUR/MWh] Marginal cost of importing electricity from the main grid in brownfield mode

snapshots:
  start: "2013-03-01"
  end: "2013-03-07"
  inclusive: "left"  # end is not inclusive

ramp:
  days: 365  # Days allows to select the number of simulated days to ramp

tier:
  tier_percent: [0.3, 0.2, 0.2, 0.1, 0.15, 0.05]
  # Tier allows selection of the percentage breakdown of the population into
  # the different tiers of energy access. Values range from the percentage of
  # population belonging to tier 0 to those belonging to tier 5.

house_area_limit:
  area_limit: 255  # All buildings without a specified tag, having an area less than house_limit will be considered houses

build_demand_type:
  type: "From_file"
  std: "on"
# type allows to select the mode by which the microgrid demand profile is generated.
# From_file = a predetermined hourly profile is used
# Ramp = an average hourly profile is calculated by exploiting the ramp tool when std on also the
#     standard deviation is calculated and used to calculate demand.

# definition of the Coordinate Reference Systems
crs:
  geo_crs: EPSG:4326  # general geographic projection, not used for metric measures.
                      # "EPSG:4326" is the standard used by OSM and google maps
  distance_crs: EPSG:3857  # projection for distance measurements only. Possible recommended values are "EPSG:3857" (used by OSM and Google Maps)
  area_crs: ESRI:54009  # projection for area measurements only. Possible recommended values are Global Mollweide "ESRI:54009"

clean_osm_data_options:  # osm = OpenStreetMap
  names_by_shapes: true  # Set the country name based on the extended country shapes
  threshold_voltage: 500  # [V] assets below that voltage threshold will not be used (cable, line, generator, etc.)
  tag_substation: "distribution"  # Filters only substations with 'transmission' tag, ('distribution' also available)
  add_line_endings: true  # When "True", then line endings are added to the dataset of the substations
  generator_name_method: OSM  # Methodology to specify the name to the generator. Options: OSM (name as by OSM dataset), closest_city (name by the closest city)
  use_custom_lines: "OSM_only"  # Use OSM (OSM_only), customized (custom_only), or both data sets (add_custom)
  path_custom_lines: false  # If exists, provide the specific absolute path of the custom file e.g. (...\data\custom_lines.geojson)
  use_custom_substations: "OSM_only"  # Use OSM (OSM_only), customized (custom_only), or both data sets (add_custom)
  path_custom_substations: false  # If exists, provide the specific absolute path of the custom file e.g. (...\data\custom_substations.geojson)
  use_custom_cables: "OSM_only"  # Use OSM (OSM_only), customized (custom_only), or both data sets (add_custom)
  path_custom_cables: false  # If exists, provide the specific absolute path of the custom file e.g. (...\data\custom_cables.geojson)

build_osm_network:  # Options of the build_osm_network script; osm = OpenStreetMap
  group_close_buses: true  # When "True", close buses are merged and guarantee the voltage matching among line endings
  group_tolerance_buses: 500  # [m] (default 5000) Tolerance in meters of the close buses to merge
  split_overpassing_lines: true  # When True, lines overpassing buses are splitted and connected to the bueses
  overpassing_lines_tolerance: 1  # [m] (default 1) Tolerance to identify lines overpassing buses
  force_ac: false  # When true, it forces all components (lines and substation) to be AC-only. To be used if DC assets create problem.

base_network:
  min_voltage_substation_offshore: 1000000   # [V] minimum voltage of the offshore substations
  min_voltage_rebase_voltage: 1000000

electricity:
  voltages: [0.4, 15., 20., 22., 30., 132., 150., 220., 380., 500., 750.]
  voltage: 0.22
  voltage_node_cluster: [15., 20., 30.]  # [kV] Voltage levels to use for building clustering in brown_field mode (greater than 0.4 and less than 132)
  hvdc_as_lines: false  # should HVDC lines be modeled as `Line` or as `Link` component?
  line_type: "24-AL1/4-ST1A 0.4"

  max_hours:
    battery: 6
    H2: 168

  extendable_carriers:
    Generator: [solar, onwind, diesel]
    StorageUnit: ["lithium", "lead acid"]
  conventional_carriers: [diesel]

  renewable_carriers: [solar, onwind]

lines:
  ac_types: # TO DO : check value for distribution
    0.4: "NAYY 4x150 SE"
    15.: "48-AL1/8-ST1A 10.0"
    20.: "94-AL1/15-ST1A 20.0"
    22.: "94-AL1/15-ST1A 20.0"
    30.: "94-AL1/15-ST1A 20.0"
    132.: "N2XS(FL)2Y 1x240 RM/35 64/110 kV"
    150.: "Al/St 240/40 2-bundle 220.0"
    220.: "Al/St 240/40 2-bundle 220.0"
    380.: "Al/St 240/40 4-bundle 380.0"
    500.: "Al/St 240/40 4-bundle 500.0"
    750.: "Al/St 560/50 4-bundle 750.0"
  dc_types:
    500.: "HVDC XLPE 1000"
  s_max_pu: 0.7
  s_nom_max: .inf
  length_factor: 1.25
  under_construction: "zero" # 'zero': set capacity to zero, 'remove': remove, 'keep': with full capacity

links:
  p_max_pu: 1.0
  p_nom_max: .inf
  under_construction: "zero" # 'zero': set capacity to zero, 'remove': remove, 'keep': with full capacity

transformers:
  x: 0.06      # TO DO : check value for distribution
  s_nom: 0.63
  type: ""


# TODO: Needs to be adjusted for Africa
costs:
  year: 2030
  discountrate: 0.07  # From a Lion Hirth paper, also reflects average of Noothout et al 2016
  USD2013_to_EUR2013: 0.7532  # [EUR/USD] ECB: https://www.ecb.europa.eu/stats/exchange/eurofxref/html/eurofxref-graph-usd.en.html
  marginal_cost:  # EUR/MWh
    solar: 0.01
    onwind: 0.015
    offwind: 0.015
    hydro: 0.
    H2: 0.
    electrolysis: 0.
    fuel cell: 0.
    battery: 0.
    battery inverter: 0.
  emission_prices:  # in currency per tonne emission, only used with the option Ep
    co2: 0.

solving:
  options:
    formulation: kirchhoff
    load_shedding: true
    noisy_costs: true
    min_iterations: 4
    max_iterations: 6
    clip_p_max_pu: 0.01
    skip_iterations: true
    track_iterations: false
    # nhours: 10
  solver:
    name: glpk

tech_modelling:
  general_vre: ["onwind", "solar"]
  storage_techs: ["lithium", "lead acid"]
  conv_techs: ["diesel"]
  load_carriers: ["AC load"]

microgrids_list:  # MICROGRIDS IN NIGERIA
  microgrid_1:     # WORKING
    lon_max: 7.3914
    lon_min: 7.2616
    lat_min: 4.6151
    lat_max: 4.7208
# microgrid_2:     # WORKING
#   lon_max: 7.6
#   lon_min: 7.5
#   lat_min: 4.4
#   lat_max: 4.5
# microgrid_3:
#   lon_max: 9.2
#   lon_min: 8.6
#   lat_min: 6.8
#   lat_max: 7.3
load:
  scaling_factor: 15000

buildings:
  n_clusters: 10 # either specify a number (n_clusters: 10) or specify the number of clusters by microgrid as in the following
#   microgrid_1: 3
#   microgrid_2: 13
